body {
    background-image: url(./src/joseph-barrientos-49318-unsplash1-1-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backface-visibility: visible;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

.first_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    font-size: 50px;

}
.horizontal_bar {
    position: fixed;
    z-index: 9999999;
}
.menu_deroulant_div {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.csMenu {
    width: 25vw;
}

.opacity_maker {
    opacity: 100%;
    width: 100vw;
    height: 100vh;
}

.image_de_pro {
    border-radius: 20%;
    height: 400px;
    width: 400px;
    transition: .2s;
}

.bpoums_img {
    position: ;
}

.vertical_bar {
    width: 5%;
    height: 300vh;
    background-color: #0E6BA8;
    opacity: 100%;
    background-attachment: fixed;
}
.mere_des_cv {
    width: 100%;
    height: 500vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.area_de_text {
    width: 100vw;
    height: 1000px;
    color:aliceblue;
    background-color: black;
}
textarea {
    background-color: black;
}







*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: #0E6BA8;
    opacity: 100%;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    background-color: white;
    opacity: 50%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}